/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/07/2019
    Author     : scalamari
*/

.panel-mujeres-libres{
    background: #554063 !important;    
}

.mujeres-libres{
    margin-top: -27px !important;
    font-family: sans-serif !important;
    color: #FFFFFF !important;
    background:  #554063 !important;
    height: 170px !important;
}

.titulo-seccion{
    margin:auto;
    line-height:114px;
    vertical-align:middle;
    font-family: sans-serif !important;
}

.slogan{
    font-family: sans-serif !important;
    color: #FFFFFF !important;
    font-style: italic !important;
}

.btn-secondary{
    background: #554063 !important;
    border-color: #ffffff !important;
}

.page-item.active .page-link{
    background: #554063 !important;
    border-color: #554063 !important;
    color:  #ffffff !important;
}

.page-link{
    color: #554063 !important;
}

.text-info{
    color: #ffffff !important;
}

.btn-info{
    background: #ffffff !important;
    border-color: #ffffff !important;
    color:  #554063 !important;
}

#login .container #login-row #login-column #login-box {
    margin-top: 10px;
    max-width: 600px;
    height: 310px;
    border: 1px solid #9C9C9C;
    background-color: #554063;
}
#login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
    margin-top: -2px;
}

#evento .container #evento-row #evento-column #evento-box {
    margin-top: 10px;
    margin-bottom: 50px;
    max-width: 800px;
    height: 520px;
    border: 1px solid #9C9C9C;
    background-color: #554063;
}
#evento .container #evento-row #evento-column #evento-box #evento-form {
    padding: 20px;
}
#evento .container #evento-row #evento-column #evento-box #evento-form #register-link {
    margin-top: -2px;
}

#efemeride .container #efemeride-row #efemeride-column #efemeride-box {
    margin-top: 10px;
    margin-bottom: 50px;
    max-width: 800px;
    height: 280px;
    border: 1px solid #9C9C9C;
    background-color: #554063;
}
#efemeride .container #efemeride-row #efemeride-column #efemeride-box #efemeride-form {
    padding: 20px;
}
#efemeride .container #efemeride-row #efemeride-column #efemeride-box #efemeride-form #register-link {
    margin-top: -2px;
}

#noticia .container #noticia-row #noticia-column #noticia-box {
    margin-top: 10px;
    margin-bottom: 50px;
    max-width: 800px;
    height: 440px;
    border: 1px solid #9C9C9C;
    background-color: #554063;
}
#noticia .container #noticia-row #noticia-column #noticia-box #noticia-form {
    padding: 20px;
}
#noticia .container #noticia-row #noticia-column #noticia-box #noticia-form #register-link {
    margin-top: -2px;
}

.error{
    color: red !important;
}

.panel-default {
    border-color: #ddd !important;
}

.panel {
    margin-bottom: 20px !important;
    background-color: #fff !important;
    border: 1px solid #554063 !important;
    border-radius: 4px !important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05) !important;
}

.panel-heading {
    padding: 10px 15px !important;
    border-bottom: 1px solid transparent !important;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    background-color: #554063;
    color: #ffffff !important;
}

.panel-body {
    padding: 15px !important;
}

.panel-footer {
    padding: 10px 15px !important;
    background-color: #554063;
    border-top: 1px solid #ddd !important;
    border-bottom-right-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

#register .container #register-row #register-column #register-box {
    margin-top: 10px;
    max-width: 800px;
    height: 630px;
    border: 1px solid #9C9C9C;
    background-color: #554063;
}
#register .container #register-row #register-column #register-box #register-form {
    padding: 20px;
}
#register .container #register-row #register-column #register-box #register-form #register-link {
    margin-top: -2px;
}

.informate-panel{
    background-color: #554063;
    color: #ffffff !important;
}

.asesorate-card{
    height: 190px !important;
}

.asesorate-body{
    height: 90px !important;
}

.card{
    border: 2px solid  #554063 !important;
}